{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Words{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Words</h1>
        {% if words %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for word in words %}
                <tr>
                  <td> {{ word.name }} </td>
                  <td> {{ word.description }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_word', id=word.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_word', id=word.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No words have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_word') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Word
          </a>
       <form class="btn btn" method="POST"  enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.dictionary }}
            <button class="btn btn-danger" type="submit">Upload</button>
       </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
